.products{
    font-size: large;
    margin-left: 5px;
}

.fsh{
    font-size: 32px
}

.Button{
    padding-left: 500px;
}

.column {
    padding-left: 120px;
    float: left;
    width: 20%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}
  
.containerTab {
    padding: 20px;
    color: white;
}
  
.row:after {
    padding-left: 180px;
    content: "";
    display: table;
    clear: both;
}
  
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}